* {
    box-sizing: border-box;
    margin: 0 !;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

p {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f704d;
    width: 100%;
}

.header-logo {
    font-size: 36px;
    color: #f9faf8;
    margin: 20px 50px;
}

.container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    border-radius: 30px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}

.form-container {
    border-radius: 10px;
    border-width: 2px;
    border-color: darkgrey;
    border-style: solid;
    margin: 20px 50px 20px 10px;
    width: 30%;
   background-color: #FAF9F6;
}

input {
    width: 100%;
    height: 30px !important;
    border-radius: 5px;
    padding-left: 10px;
    border-style: solid;
    border-color: darkgrey;
}

.required:after { 
    content:"*";
}

.container h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #3f704d;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.form-container h3 {
    font-size: 24px;
    font-weight: extra-bold;
    color: #3f704d;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container p {
    font-size: 12px !important;
    font-style: italic;
    color: black !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.container p {
    color: black;
    font-size: 18px;
    margin: 20px 50px;
}

.container img{
    border-radius: 10px;
    width: 40%;
    /* margin-left: 50px; */
    align-items: center;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: #3f704d;
    border-width: 0px;
    color: white;
    margin-top: 20px;
    width: 50%;
}

button:hover {
    background-color: white;
    color: #3f704d;
}

.button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    overflow-x: hidden; 
}

@media screen and (max-width: 425px) {
    .content p {
        font-size: 12px;
        margin: 20px;
    }
    .form-container h3 {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 768px) {

    .header-logo {
        font-size: 24px;
    }
    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    .content p {
        font-size: 14px !important;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100% !important;
    }

    .container h1 {
        font-size: 24px;
    }

    .form-container {
        width: 90% !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .form-container h3 {
        font-size: 24px;
    }
}
